@charset "utf-8";
@media screen and (min-width: 501px) and (max-width: 1236px) {


    :root{
        --cor-primaria: #000000;
        --cor-secundaria: #800080;
        --cor-tercearia: #ffffff;
    }

    *{
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;

    }

    html {
        scroll-behavior: smooth;
    }

    body{
        background-color: var(--cor-primaria);
        margin: auto;
        -ms-overflow-style: none;  
        width: 100vw;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        width: 95vw;
        border-radius: 20px;
        padding: 10px;
        background-color: var(--cor-secundaria);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        
        
    }
    .itens{
        color: var(--cor-tercearia);
        font-weight: bold;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1em;

        

    }
    #contato{
        color: var(--cor-tercearia);
        background-color: var(--cor-primaria);
        padding: 20px;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        border-radius: 20px;
        border: 1px solid var(--cor-primaria);
        transition: 0.7s;
    }
    #contato:hover{
        color: var(--cor-primaria);
        background-color: var(--cor-secundaria);
        border: 1px solid var(--cor-primaria);
    }

    #inicial{
        background-color: var(--cor-primaria);
        display: flex;
        flex-flow: column-reverse;
        place-items: center center;
        place-content: center center;
        min-height: 95vh;
        width: 100vw;

        
    }
    #nome_area{
        display: flex;
        flex-flow: column;
        place-content: center center; 
        place-items: center center;
        padding: 20px;
        margin: 20px;
        color: var(--cor-tercearia);
        line-height: 1.6;
    }
    #nome{
        font-size: 3em;
        padding: 0;
        text-align: center;
   
    }
    #area{
        text-align: center;
        font-size: 1em;
        padding: 0;
    
    
    
    }
    
    #links{
        display: flex;
        justify-content: center;
        gap: 25px;
        padding: 30px;
        
        
    }
    .link{
        display: flex;
        width: 80px;
        height: 80px;
        border-radius: 20px;
        background-color: var(--cor-secundaria);
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 30px var(--cor-secundaria);
        
    }
    .link:hover{
        transform: translate(0px, -5px);
    }
    
    .Imagens{
        width: 50px;
        
    
    }
    #usuario{
        background-color: var(--cor-secundaria);
        flex: 1 1 300px;
        
       
        width: 400px;
        text-align: center;
        justify-content: center;
        align-content: center;
        
    }
    
    picture{
        padding: 50px;
    }
    #infos{
        background-color: var(--cor-secundaria);
        
    }


    #pessoal{
        background-color: var(--cor-secundaria);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        min-height: 100vh;
        

    }
    .mais{
        background-color: var(--cor-primaria);
        color: var(--cor-secundaria);
        width: 600px;
        height: 700px;
        border-radius: 15px;
        margin: 50px;
    }

    .mais h3,p{
        padding: 30px;
    }
    .mais h3{
        text-align: center;
        font-size: 2em;
    }
    .mais p{
        text-align: justify;
        line-height: 1.4em;
        word-spacing: 5px;
        text-indent: 1em;
        font-size: 1.2em;
        font-weight: bolder;
    }
    .mais ul{
        margin: auto;
        list-style-position: inside;
        list-style: none;
        padding: 0px;
    }
    .pontos{
        font-size: 1.2em;
        font-weight: bolder;
        margin-top: 15px;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
    .pontos::before {
        content: ">";
        margin-right: 8px;
        color: var(--cor-secundaria);
    }
    .subpontos {
        display: flex;       
        align-items: flex-start; 
        padding:10px 30px 10px 30px;
        padding-right: 50px;  
        margin-top: 5px;
        font-size: 1em;
        line-height: 1.5;
        font-weight: 500;    
    }
    .subpontos::before {
        content: ">";        
        margin-right: 10px;  
        color: var(--cor-secundaria);         
        flex-shrink: 0;      
    }
}